<h2>

  Poszukuję... <br><br>
  według kategorii:
  <select [(ngModel)]="selectedCategory" (change)="changeCategory()">
    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
  </select><br>
  według nazwy:

  <input type="text" [(ngModel)]="namePart" (keyup)="searchByNamePart()"/>
</h2>

<div class="item" *ngFor="let item of items">

  <div class="item-left">
    <div class = "img_frame">
      <img [src]="(shareService.homeUrl + image)"/>
    </div>
  </div>

  <div class="item-left">
    <h2>{{item.name}}</h2>
    <div><span>owner: </span>{{item.owner}}</div>
    <div><span>description: </span>{{item.description}}</div>
  </div>

  <div class="item-right">
    <button (click)="rentIt(item)" *ngIf="!(item.owner==loggedUserName)">
      Rent {{ item.name }} for {{ item.rentalPeriod }} days</button>
    <div *ngIf="!(selectedCategory)"><span>category: </span>{{item.category}}</div>
  </div>

</div>

<div *ngIf="items == undefined || items.length == 0" class="item center">
  <h2>Niestety, nie znaleziono :(</h2>
</div>
