<h2>
  ITEMS FOR RENT - Select category: 
  <select [(ngModel)]="selectedCategory" (change)="changeCategory()">
    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
  </select>
</h2>

<div class="item" *ngFor="let item of items">

  <div class="item-left">
    <h2>{{item.name}}</h2>
    <div><span>owner: </span>{{item.owner}}</div>
    <div><span>description: </span>{{item.description}}</div>
  </div>

  <div class="item-right">
    <button (click)="rentIt($event, item)">Rent {{ item.name }} for 3days</button>
  </div>

</div>
