<h2>Poszukuję... </h2>
  <div class="search">
    <div class="search_methods">
    <h2>według kategorii:
      <select [(ngModel)]="selectedCategory" (change)="changeCategory()">
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select><br><br>
    według nazwy:
      <input type="text" [(ngModel)]="namePart" (keyup)="searchByNamePart()"/>
    </h2>
    </div>
    <div class="glass"></div>
  </div>


<div *ngIf="items == undefined || items.length == 0" class="item center">
  <h2>Niestety, nie znaleziono :(</h2>
</div>

<div class="item" *ngFor="let item of items">

  <div class="item-right">
    <button (click)="rentIt(item)" *ngIf="!(item.owner==loggedUserName)">
      Wypożycz {{ item.name }} na {{ item.rentalPeriod }} dni</button>
    <div *ngIf="!(selectedCategory)"><span>kategoria: </span>{{item.category}}</div>
  </div>

  <div class="item-left">
    <h2>{{item.name}}</h2>
      <div><span>właściciel: </span>{{item.owner}}</div>
      <div><span>opis: </span>{{item.description}}</div>
  </div>
     <img *ngIf="item.imageName" [src]="(shareService.homeUrl + '/images/' + item.imageName)"/>
</div>


