<div class="pop-up" *ngIf="popUpOpen">
<div class="pop-up-box">
    <header>
      <span class="title">Edit your item</span>
    </header>
    <main>
        <p>Name: <input type="text" [(ngModel)]="popUpItem.name"/></p>
        <p>Description: <input type="text" [(ngModel)]="popUpItem.description"/></p>
        <select [(ngModel)]="popUpItem.category">
          <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </main>
    <footer>
      <button (click)="saveItem()">Save</button>
      <button (click)="closePopup()">Cancel</button>
    </footer>
</div>
</div>