<h2>My items to rent</h2>

<div class="item" *ngFor="let item of items">

    <div class="item-left">
        <h2>{{item.name}}</h2>
        <div><span>category: </span>{{item.category}}</div>
        <div><span>description: </span>{{item.description}}</div>
    </div>

    <div class="item-right">
        <div>
            <div *ngIf="item.rented">
                <span>Item is rented  </span><button (click)="itemReturned(item)">Confirm Return</button>
            </div>
            <div *ngIf="!item.rented">
                <span *ngIf="item.available">Item is ready to rent</span>
                <span *ngIf="!item.available">Item is not available</span>
            </div>     
        </div>
        <div>
            <input type="checkbox" [(ngModel)]="item.available" 
                (change)="changeAvailable(item)" [disabled]="item.rented" id="available" />
            <label for="available">available to rent</label>
        </div>
        <div>     
            <button>Edit</button>
        </div>
    </div>

</div>

<div *ngIf="items == undefined || items.length == 0" class="item center">
    <h2>No items found</h2>
</div>