<h2>Mogę pożyczyć:</h2>

<div class="item" *ngFor="let item of items; index as i">

    <div class="item-left">
        <h2>{{item.name}}</h2>
        <div><span>kategoria: </span>{{item.category}}</div>
        <div><span>opis: </span>{{item.description}}</div>
    </div>

    <div class="item-right">
        <div>
            <div *ngIf="item.rented">
                <span>Przedmiot jest pożyczony na {{item.rentalPeriod}} dni</span><button (click)="itemReturned(item)">Potwierdź zwrot</button>
            </div>
            <div *ngIf="!item.rented">
                <span *ngIf="item.available">Przedmiot jest gotowy do wypożyczenia na {{item.rentalPeriod}} dni</span><br>
                <span *ngIf="!item.available">Przedmiot jest niedostępny</span>
            </div>
        </div>
        <div>
            <input type="checkbox" [(ngModel)]="item.available"
                (change)="changeAvailable(item)" [disabled]="item.rented" id="available" />
            <label for="available">gotowy do wypożyczenia</label>
        </div>
        <div>
            <button (click)="openEditItem(item, i)">Edytuj</button>
        </div>
    </div>

</div>

<div *ngIf="items == undefined || items.length == 0" class="item center">
    <h2>Nic nie udostępniasz do wypożyczenia. <br> Pora to zmienić! :)</h2>
</div>

<a *ngIf="loggedUserName != undefined" class="clickable" (click)="openAddItem()">
    <div class="item center">
        <h2>Dodaj nowy przedmiot</h2>
    </div>
</a>

<app-edit-window [popUpOpen]="popUpOpen" [popUpItem]="popUpItem" [myCallback]="theBoundCallback">
</app-edit-window>
