<h2>My items to rent</h2>

<div class="item" *ngFor="let item of items; index as i">

    <div class="item-left">
        <h2>{{item.name}}</h2>
        <div><span>category: </span>{{item.category}}</div>
        <div><span>description: </span>{{item.description}}</div>
    </div>

    <div class="item-right">
        <div>
            <div *ngIf="item.rental && item.rental.confirmedDate">
                <span>Item is rented for {{item.rental.getRentalPeriod| date:'dd/MM/yyyy' : 'UTC'}}</span>
                <button (click)="itemReturned(item)">Confirm Return</button>
            </div>
            <div *ngIf="item.rental && !item.rental.confirmedDate">
                <span>Item is waiting for your decision</span>
                <button (click)="confirmRental(item)">OK</button>
                <button (click)="denyRental(item)">NO</button>
            </div>
            <div *ngIf="!item.rental">
                <span *ngIf="item.available">Item is ready to rent for {{item.rentalPeriod}} days</span>
                <span *ngIf="!item.available">Item is not available</span>
            </div>     
        </div>
        <div>
            <input type="checkbox" [(ngModel)]="item.available" 
                (change)="changeAvailable(item)" [disabled]="item.rental" id="available" />
            <label for="available">available to rent</label>
        </div>
        <div>     
            <button (click)="openEditItem(item, i)">Edit</button>
        </div>
    </div>

</div>

<div *ngIf="items == undefined || items.length == 0" class="item center">
    <h2>No items found</h2>
</div>

<a *ngIf="loggedUserName != undefined" class="clickable" (click)="openAddItem()">
    <div class="item center">
        <h2>Add new item</h2>
    </div>
</a>

<app-edit-window [popUpOpen]="popUpOpen" [popUpItem]="popUpItem" [myCallback]="theBoundCallback">
</app-edit-window>
