.panel {
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-size: cover;
  overflow-x: scroll;
}

.welcome {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.welcome2 {
  background-attachment: fixed;
  height: 90vh;
}

.header {
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
 overflow: hidden;
 max-width: 400px;
}

.logo img {
  max-width: 100%;
  margin-top: -35%;
}

.user {
  float: right;
  margin: 20px;
}

.logging {
  display: inline-grid; 
  margin: 10px;
}

.pop-up-box img {
  max-width:100%;
  max-height:100%;
}

.centerDiv {
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.left .right {
  top: 100px;
  overflow-x: hidden;
  padding: 10px;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

.item {
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
  overflow:auto;
  background-color: white;
  border-radius: 5px;
  background: linear-gradient(to right,
     rgba(255,255,255, 1) 50%, 
     rgba(255,255,255, 0) 80%
  );
}

.height120 {
  min-height: 120px;
}

.img_frame {
  width: 120px;
  height: 120px;
  text-align: center;
}

.item img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.item button {
  width: 100%;
}

.item button.half {
  width: 50%;
}

.item button:hover {
  background-color: lightgray;
}

.item-right {
  float: right;
  width: 35%;
}

.item-left {
  float: left;
  max-width: 65%;
}

.item-left-big {
  float: left;
  max-width: 100%;
}

.clickable:hover div {
  transition: transform .4s;
  background: rgb(211, 211, 211, 0.5)
}

.pop-up-box {
  position: fixed;
  z-index:10000;
  top: 50%;
  left: 50%;
  width: 30%;
  padding: 20px;
  background: white;
  text-align: center;
  box-shadow: 4px 4px 10px #000;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.loader-box{
  width: 120px;
}

.pop-up-box footer button {
  margin: 10px;
  width: 100px;
}

.empty {
  background: transparent;
  height: 100vh;
  width: 1px;
  position: relative;
}

.about {
  position: relative;
  background: white;
  padding:100px;
  text-align: center;
}

.bottom {
  position: absolute;
  height: 60vh;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
  }

body {
    background-color: lightgrey;
    margin: 0;
  }
  
body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia;
  }

  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

@media only screen and (max-width: 1000px) {
    .left, .right {
      width: 100%;
    }
}





.search {
background-color: rgba(163, 188, 191, 0.6);
margin: 10px;
padding: 10px;
box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
overflow:auto;
border-radius: 5px;
}

.search_methods {
  width: 60%;
  float: left;
}





@media all and (max-width:750px) {

  .header_center {background-position: center;}
}